@import "tailwindcss";

html, body {
  /* Stops the rubber-band bounce effect on mobile */
  overscroll-behavior: none; 
  
  /* Prevents horizontal scrolling/moving completely */
  overflow-x: hidden; 
  
  /* Stops double-tap to zoom */
  touch-action: pan-y; 
}